version: '2'
networks:
  mysqlcluster : 
        driver : bridge 
        ipam:
                config:
#                       - subnet: 192.168.0.0/16
                        - subnet: 172.26.0.0/16
                          gateway: 172.26.5.254
services:
    mysql1:
      build : .
      expose:
          - "3306"
      environment:
          - MYSQL_USER="pucsd"
          - MYSQL_PASSWORD="pucsd"
          - MYSQL_DATABASE="pucsdStudent"
      networks :
              mysqlcluster : 
                  ipv4_address: 172.26.0.4
      depends_on:
              - "management1"
      restart: always
    
    mysql2:
      build : .
      expose:
          - "3306"
      environment:
          - MYSQL_USER="pucsd"
          - MYSQL_PASSWORD="pucsd"
          - MYSQL_DATABASE="pucsdStudent"
      networks : 
          mysqlcluster :
                  ipv4_address: 172.26.0.10
      depends_on :
              - "management1"
      restart: always
    mysql2:
      build : .
      expose:
          - "3306"
      environment:
          - MYSQL_USER="pucsd"
          - MYSQL_PASSWORD="pucsd"
          - MYSQL_DATABASE="pucsdStudent"
      networks :
          mysqlcluster :
                  ipv4_address: 172.26.0.8
      depends_on :
              - "management1"
      restart: always


    management1:
      build : .
      ports:
          - "3506:3306"
      expose:
          - "3506"
      restart: always

